.intro {
  border: 3px solid blue;
  margin: auto;
  width: 50%;
  text-align: justify;
}

.title {
  text-align: center;
}

.kmColor {
  color: red;
}

.miColor {
  color: blue;
}

h1 {
  margin: auto;
  width: 50%;
  text-align: center;
}

p {
  margin: auto;
  width: 50%;
  text-align: center;
}

.inputBox {
  margin: auto;
  width: 50%;
  text-align: center;
}

.buttonsTwo {
  margin: auto;
  width: 50%;
  text-align: center;
}

button {
  margin-top: 7px;
}
